# Files
template.cpp
solutions/A.cpp
solutions/B.cpp
solutions/C.cpp
solutions/D.cpp
solutions/E.cpp
solutions/F.cpp
solutions/G.cpp
solutions/H.cpp
in.txt
out.txt

# Folders
problems/

# Executables
*.out
